= javascript_pack_tag 'talisman_randomizer'

.container
  .row
    .col-12
      %h1 Talisman Randomizer
      %br
  .row
    .col-12.col-md-6
      .card.text-center
        .card-header
          Number of Players
          %a{ href: '#'}
            .icon.icon-left{ alt: "Reveal all Players",
                              data: { behavior: "reveal-all-players" } }
              = svg 'eye'
            .icon.icon-right{ alt: "Randomize all Players",
                              data: { behavior: "randomize-all-players" } }
              = svg 'loop-circular'
        .btn-group.btn-group-toggle.d-flex.btn-group-justified{ "data-toggle": "buttons", id: "player-count", role: "group"}
          %label.btn.btn-light
            %input{ type: "radio", name: "total-players", id: "total-players-1",
                    autocomplete: "off", value: 1} 1
          %label.btn.btn-light
            %input{ type: "radio", name: "total-players", id: "total-players-2",
                    autocomplete: "off", value: 2} 2
          %label.btn.btn-light
            %input{ type: "radio", name: "total-players", id: "total-players-3",
                    autocomplete: "off", value: 3} 3
          %label.btn.btn-light
            %input{ type: "radio", name: "total-players", id: "total-players-4",
                    autocomplete: "off", value: 4, checked: ""} 4
          %label.btn.btn-light
            %input{ type: "radio", name: "total-players", id: "total-players-5",
                    autocomplete: "off", value: 5} 5
          %label.btn.btn-light
            %input{ type: "radio", name: "total-players", id: "total-players-6",
                    autocomplete: "off", value: 6} 6
      = render partial: "randomizers/tiny_towns/player", locals: {player: 1}
      = render partial: "randomizers/tiny_towns/player", locals: {player: 2}
      = render partial: "randomizers/tiny_towns/player", locals: {player: 3}
      = render partial: "randomizers/tiny_towns/player", locals: {player: 4}
      = render partial: "randomizers/tiny_towns/player", locals: {player: 5}
      = render partial: "randomizers/tiny_towns/player", locals: {player: 6}
    .col-12.col-md-6
      .card.text-center
        .card-header
          Enabled Expansions
        .btn-group.btn-group-toggle.d-flex.btn-group-justified{ "data-toggle": "buttons", id: "expansions", role: "group"}
          %label.btn.btn-light
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-base",
                    autocomplete: "off", value: "base", checked: ""} Base Game
          %label.btn.btn-light
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-reaper",
                    autocomplete: "off", value: "reaper"} The Reaper
          %label.btn.btn-light
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-dungeon",
                    autocomplete: "off", value: "dungeon"} Dungeon
          %label.btn.btn-light
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-frostmarch",
                    autocomplete: "off", value: "frostmarch"} Frostmarch
        .btn-group.btn-group-toggle.d-flex.btn-group-justified{ "data-toggle": "buttons", id: "expansions-2", role: "group"}
          %label.btn.btn-light
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-highland",
                    autocomplete: "off", value: "highland"} Highland
          %label.btn.btn-light{
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-sacred-pool",
                    autocomplete: "off", value: "sacred_pool"} Sacred Pool
          %label.btn.btn-light
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-dragon",
                    autocomplete: "off", value: "dragon"} Dragon
          %label.btn.btn-light
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-blood-moon",
                    autocomplete: "off", value: "blood_moon"} Blood Moon
        .btn-group.btn-group-toggle.d-flex.btn-group-justified{ "data-toggle": "buttons", id: "expansions-3", role: "group"}
          %label.btn.btn-light
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-city",
                    autocomplete: "off", value: "city"} City
          %label.btn.btn-light
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-firelands",
                    autocomplete: "off", value: "firelands"} Firelands
          %label.btn.btn-light
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-woodland",
                    autocomplete: "off", value: "woodland"} Woodland
          %label.btn.btn-light
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-harbinger",
                    autocomplete: "off", value: "harbinger"} Harbinger
        .btn-group.btn-group-toggle.d-flex.btn-group-justified{ "data-toggle": "buttons", id: "expansions-4", role: "group"}
          %label.btn.btn-light
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-cataclysm",
                    autocomplete: "off", value: "cataclysm"} Cataclysm
          %label.btn.btn-light
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-nether-realms",
                    autocomplete: "off", value: "nether_realms"} Nether Realms
          %label.btn.btn-light
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-realms-unraveled",
                    autocomplete: "off", value: "realms_unraveled"} Realms Unraveled
          %label.btn.btn-light
            %input{ type: "checkbox", name: "enabled-expansions", id: "enabled-expansions-digital-edition",
                    autocomplete: "off", value: "digital_edition"} Digital Edition
    .col-12.col-md-6
      .card.text-center
        .card-header
          Selected Expansopms
          %a{ href: '#'}
            .icon.icon-right{ alt: "Randomize all Buildings",
                              data: { behavior: "randomize-all-buildings" } }
              = svg 'loop-circular'
        %ul.list-group
          = render partial: "randomizers/tiny_towns/building", locals: {color: :blue}
          = render partial: "randomizers/tiny_towns/building", locals: {color: :red, randomizable: true}
          = render partial: "randomizers/tiny_towns/building", locals: {color: :yellow, randomizable: true}
          = render partial: "randomizers/tiny_towns/building", locals: {color: :orange, randomizable: true}
          = render partial: "randomizers/tiny_towns/building", locals: {color: :green, randomizable: true}
          = render partial: "randomizers/tiny_towns/building", locals: {color: :gray, randomizable: true}
          = render partial: "randomizers/tiny_towns/building", locals: {color: :black, randomizable: true}
