<% provide(:title, "Follow") %>

<div class="container">
  <div class="row">
    <section class="post title">
      <%= tag.h1 "Follow Me!" %>
      <h2 />
    </section>
    <section class="post content">
      <p>
        On this page are some links to my other accounts on webpages across the
        internet. These are just the accounts I'm currently active at; there are
        many sites I used to frequent that I haven't gone to in years. Those
        accounts may still be open, but they aren't listed here anymore. But feel
        free to check me out at these other places on the web!
      </p>
      <div class="container" >
          <div class="row" style="padding-bottom: 0px">
            <div class="col text-left">
              <p>
              <ul>
                <li>Facebook: <%= link_to "The Tylor Zone", "http://www.facebook.com/TheTylorZone" %></li>
                <li>Twitter: <%= link_to "@tylorlilley", "https://twitter.com/tylorlilley" %></li>
                <li>Steam Profile: <%= link_to "Tiamat", "http://steamcommunity.com/id/tylorlilley/" %></li>
                <li>Board Game Geek: <%= link_to "tylorlilley", "http://boardgamegeek.com/user/tylorlilley" %></li>
                <li>Tapped Out: <%= link_to "tylorlilley", "http://tappedout.net/mtg-deck-folders/15-08-17-active-decks/" %></li>
                <li>GitHub: <%= link_to "tylorlilley", "https://github.com/tylorlilley/" %></li>
                <li>Google Play Store: <%= link_to "Tylor Lilley", "https://play.google.com/store/apps/developer?id=Tylor%20Lilley&hl=en" %></li>
              </ul>
              </p>
            </div>
          </div>
      </div>
      <p>
        And there you have it. A list of all the places on the web where I am
        currently active. Feel free to like my Facebook page if you want easy
        updates whenever I have a new game or something to show off! I don't
        update much, but that way when I do you will be notified... if you want to
        be notified about that sort of thing in the first place, that is.
      </p>
    </section>
  </div>
</div>
