- unless intro
  %p
    .container.text-center
      %h3 Introduction

%p
  Hello everyone. Dominion is one of my absolute favorite games of all time, and it has been for many, many years. So many years that I have personally gone through a number of different storage solutions and other accessories for it! Today I am going to talk about my solution for storing all of these expansions for Dominion, how I got there, and the other accessories we use to play. I will be giving my recommendations along the way for various storage solutions, set-up methods, sleeves, etc. that I have tried over the last eight years or so of playing this game. Whether you are a Dominion veteran, or a new player looking for information, I hope you find this guide helpful.

- unless intro
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post), alt: "A picture of two wooden cases splayed open with all Dominion cards released before 2020 sleeved and organized within", title: 'Dominion Storage Solution. Holds everything up to Renaissance and Beyond! Pictured open.')
  %p
    .container.text-center
      %h3 The History
  %p
    Way, way back in 2012, my Dominion Storage solution was a shoebox with a few homemade dividers in it, and it held all of the two or three expansions I owned at the time. As I acquired more, the shoebox got swapped out for a
    = link_to("three-row BCW storage box", "https://www.bcwsupplies.com/card-game-box-black-white") + ','
    which then became a
    = link_to("3200 count storage box", "https://www.bcwsupplies.com/3200-card-storage-box-full-lid") + ','
    until eventually I hit their maximum size at the
    = link_to("5000 count Super Monster storage box", "https://www.bcwsupplies.com/super-monster-storage-box-5000-cards") + ','
    a few years ago. By 2018 with the release of Dominion: Renaissance, I had to remove all of the extra cards, duplicate base cards, etc. to just barely be able to fit all of the kingdom cards, tokens, mats, etc and enough base cards for up to four players in the box. This is what that final state looked like (It was sleeved in mayday standard euro sleeves at the time - something I would no longer recommend - see sleeve section below):
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 2), alt: "A picture of a beat-up cardboard BCW Super Monster storage box containing all Dominion cards released before Renaissance sleeved and organized within.")
  %p
    .container.text-center
      %h3 Project Goals
  %p
    I knew that it was only a matter of time before another dominion expansion was released, and although I was able to squeeze in a couple more Promo cards, Dominion would finally outgrow my storage solution once the inevitable next expansion happened. So, I set about improving my Dominion storage strategy to get ahead of the game. I decided I wanted my new storage solution to meet the following goals:
    %ol
      %li
        I wanted to upgrade my card sleeves to thicker sleeves, so the solution had to have
        %i even more
        space than what was pictured above.
      %li I wanted something that was theoretically expandable in a way that just getting a larger and larger cardboard box was not. I wanted this solution to be something that could last for another decade, no matter how many Dominion products released between now and then.
      %li I wanted something a little sturdier than cardboard. The BCW box had long since crossed the weight threshold to where it was buckling under its own weight. Keeping it all in one box was unwieldy; it was near impossible to move or bring anywhere other than from the shelf to the table and back.
  %p
    One thing I was
    %i not
    particularly concerned with was portability; I almost exclusively play Dominion in my own home and thus was not too worried about having to bring it anywhere. Besides, my current solution wasn't very portable anyway, so I would not be losing anything by making it less portable.
  %p
    I was also not concerned with storing the various blank cards and randomizer cards I’d accumlated over the years; I had moved on to a digital randomizer long,
    %i long
    ago, to make setting up and tearing down a random game much easier. My current randomizer of choice is
    = link_to("Jack of all Dominion", "https://play.google.com/store/apps/details?id=com.minusik.apps.jackofalldominion") + ' -'
    it has all the cards, and all the features you could ever want from a Dominion randomizer. I have been using it for years.
  %p
    .container.text-center
      %h3 The Solution
  %p
    Because I want this to be a complete record of the things I've tried (so that other people may learn from my mistakes), and because I have a lot to say, I am going to break this section down into each individual type of component and talk about my approach for each one.
  %p
    .container.text-center
      %h3 Organizational Method
  %p
    As an organizational strategy, My original storage solution stored the base cards (and cards that come out with them sometimes like Potion, Platinum and Colony, Spoils, etc) together, and then every other kingdom card alphabetically. This was a great solution in the earlier years, but after the last few expansions it just became untenable. I needed to break the cards down by more than that, because there were just too many. Besides, I was already re-sleeving all the cards and re-making all the dividers (see their sections below for more information on that); why not change up the organizational method while I am at it too?
  %p
    So, I decided I would instead try storing things first by expansion, and then alphabetically. This meant that Platinum and Colony didn't go with the base cards (those were with the Base Game), they went with Propsperity. This was fine, because we play with the official rules, so they only show up in a game with at least one Prosperity card anyway. This keeps cards that depend on other cards (like Ruins and Spoils) near the cards they depend on, and it allows me to break down the collection of cards into subgroups, so that I am not scanning over every single kingdom card when setting up or tearing down a game. Plus, the randomizer I use (
    = link_to("Jack of all Dominion", "https://play.google.com/store/apps/details?id=com.minusik.apps.jackofalldominion") + ')'
    has an option for grouping the cards by expansion already built in, so all I had to do was turn that on, and the randomizer would be grouping things the same way that I was now doing in real life. Nice!
  %p
    This ended up working out really well. I was worried it would increase set-up/teardown time, but if anything, this change has decreased it significantly. This is for games using every expansion at once, too; we also sometimes like to just play with, say, the Base Game + Dark Ages, or some other select handful of expansions at once. And it will be MUCH easier to know I only have to look in one small place to find those cards when setting up or tearing down a game, instead of dealing with the entire box sorted alphabetically. All in all, I think this will be a change I keep, and I would recommend it to anyone asking how to organize a collection that consists of this many Dominion Expansions.
  %p
    .container.text-center
      %h3 Storage Boxes
  %p
    The first step to moving to a new storage solution was, of course, to decide on a new box to keep everything in. Keeping in mind the goals I outlined above, the solution I settled on was to get two Wooden Euro Card Organizers from broken token (SKU:
    = link_to("ORG010", "https://thebrokentoken.com/euro-card-organizer-for-wooden-artist-case") + '),'
    and two Wooden Artist's Supply Sketch Boxes from Hobby Lobby (SKU:
    = link_to("125005", "https://www.hobbylobby.com/Art-Supplies/Storage-Organization/Storage/All-Media-Artists-Supply-Sketch-Box/p/5227") + '),'
    Broken Token sells more expensive officially licensed bundles that contain this organizer and the artist case together pre-assembled (and/or with a nice Dominion engraving, if you are into that sort of thing) as well. I am sure those are fine - but in my case I did not mind paying a little less to do some assembly on my own.
  %p
    I settled on this solution because I wanted something a little sturdier than cardboard - wood was preferable. And even though this is just pretty cheap, unfinished wood, it’s still a step above the cardboard box that was buckling under its own weight - no risk of that happening here! That said, when full, the boxes are just a little over twenty pounds currently, so I wouldn’t necessarily trust that handle or those hinges to hold for any amount of extended carrying. As I said, portability is not much of an issue for me, as it mostly just travels from the shelf to the table and back - but the hinges and latches and handle are things I’d look to replace if I was trying to use this as a portable solution, to be sure.
  %p
    I used the included wooden dividers to group the expansions together, with one divider between each expansion. This helps keep things compact, without adding too much room being wasted by the thick wooden dividers.
  .container.post-image
    .row
      .col-12
      = image_tag(image_for(@post, 3), alt: "Dominion Storage Solution. Pictured box holds all cards up to Guilds.", title: 'Dominion Storage Solution. Pictured box holds all cards up to Guilds')
  %p
    I went with two boxes, because some simple math told me there was no way the cards would all fit in one. I knew this going in, but it worked out even better than I could have hoped when all was said and done. The above picture is the first box, and it conveniently and almost
    %i perfectly
    holds all the cards up through Guilds (including the removed cards from the 1st Edition of the Base Game and Dominion: Intrigue). This includes one set of base cards for 2-4 players from the Base Game. Remember when this was “the end of planned expansions for Dominion”? It is such a clean break between Guilds and the second box that it’s almost scary. I couldn’t have planned it this well if I tried!
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 4), alt: "Dominion Storage Solution. Pictured box holds all cards from Adventures through Renaissance, plus Promos. Also holds mats and tokens.", title: 'Dominion Storage Solution. Pictured box holds all cards from Adventures through Renaissance, plus Promos. Also holds mats and tokens.')
  %p
    The best part is, this solution is infinitely expandable. Even if a slew of Dominion expansions get released, I can always get a third box, or a fourth box, if I must. Organizing things this way - both by expansion instead of all together, and broken apart across multiple boxes - means the storage solution will be modular enough to grow as large as it needs to grow and continue to store as many Dominion expansions as needed in as compact a way as possible. I never thought I’d say this again back when I was worrying about squeezing Nocturne and then Renaissance into my existing storage solutions - but bring it on Donald X. Vaccarino! Do your worst!
  %p
    .container.text-center
      %h3 Card Sleeves
  %p
    As part of this storage solution change (see goal number one), I wanted to upgrade my sleeves. Not only were they several years old at this point (and quite dirty/crinkled/cloudy from wear as cheaper sleeves tend to get), but I had never been happy with the sleeves I used for this game. And for a game I like so much and a game that involves so much shuffling, that was a no go! I use the thicker “premium” sleeves in all my other board games, but opted to use the thinner (and cheaper) “standard” sleeves on Dominion because of the sheer amount of thickness it would add to the cards, and by extension, the space necessary for storage of this game.
  %p
    I originally used Mayday Standard Euro Card Sleeves (SKU:
    = link_to("MDG-7028", "https://www.maydaygames.com/products/euro-card-sleeves") + '),'
    back in 2012 when I was first getting into the game. I chose these over the similarly sized but twice as thick (and twice as expensive) Mayday Premium Euro Card Sleeves (SKU:
    = link_to("MDG-7029", "https://www.maydaygames.com/products/euro-card-sleeves") + '),'
    The cheaper cost was part of the reason I went with these sleeves, but I also did not think getting the premium sleeves would work out for a game with SO many cards in it, storage space wise.
  %p
    Well, you get what you pay for. After only a few years (and replacing the sleeves on the base cards multiple times), I decided to try to throw everything out and start over with a new sleeve size. I was well used to the “premium” quality of sleeves from other games I had sleeved at this point - but my concerns on cost and storage space remained. So, I decided to go for another sleeve on the “standard”/penny-sleeve side of things. I ordered the sleeves at
    = link_to("sleevedominion.com", "https://www.maydaygames.com/products/euro-card-sleeves") + '.'
    I figured if they were specifically made for Dominion, they have to be better than the Mayday Standard sleeves that got crinkled and foggy almost immediately, right?
  %p
    Nope, they were just as bad. In fact, I barely noticed any difference at all. The sleeves were just as flimsy - the only noticeable difference was the sleeves were
    %i slightly
    shorter and more consistently cut. Which is nice, but was not worth throwing out the Mayday Standard sleeves I had, given how similarly they fit. What’s more, I only found out
    %i after
    the fact that these sleeves and the company that makes and sells them are apparently not officially affiliated with Rio Grande Games or Dominion in any way, and were using the name without permission. This sounded quite sketchy to me, and only further made me regret putting my belief in the name “sleeve dominion”, when they only adequately sleeved my dominion cards. But I struggled on with these sleeves for many more years, as I simply could not imagine affording or having the space to store cards sleeved with any brand of “premium” sleeve, which was really the only other option.
  %p
    Which brings me to 2019, and I could not be more excited to recommend the new sleeves I have tried out during this storage solution shake-up. I was very close to resigning myself to just buying the Mayday Premium sleeves this time around, even though they would be very expensive to get enough of to sleeve everything available for Dominion, and make everything take up
    %i way
    more space as well. But luckily, just before I pulled the trigger on the huge purchase, I heard about a relatively new brand of sleeves that sounded like it would be the PERFECT answer to my storage-space vs. sleeve quality-conundrum.
  %p
    I was immediately intrigued when I heard about the new brand “Sleeve Kings” that were reportedly a step between the flimsy “standard” sleeves and the too-thick “premium” sleeves. If these sleeves lived up to their claims that they were tougher, and didn’t get foggy or crinkled as easily as “standard” sleeves, while being HALF the thickness of available premium sleeves, it would be a dream come true for Dominion! And the price point was amazing - not only were they sold in packs of 110 sleeves instead of 50 like the premium sleeves were - their price point was much closer to that of the “standard” style sleeves. So they were cheaper to boot!
  %p
    Needless to say, I decided to give Sleeve Kings a shot, with their Euro Card Sleeves (SKU:
    = link_to("SKS-8809", "https://sleevekings.com/products/sleeve-kings-euro-card-sleeves-59x92mm-110-pack-60-microns-6") + ').'
    nd I couldn’t be happier with the results. I’ve only been using them for about a month now, but I can definitely say they are holding up much better than either of the “standard” sleeve brands I had tried before. Both were sticky, crinkly and foggy on the base cards even one month on; the extra bit of thickness seems to be going a long way with these sleeves. Of everything I changed about my Dominion set-up for this new storage solution, I think this has been the change I have been most pleased with so far. And for the price point they are at, I think they are a
    %i clear
    winner - and I suggest you give them a shot!
  %p
    .container.text-center
      %h3 Card Dividers
  %p
    I have long been a fan of
    = link_to("mykeatkinson's black and white dividers", "https://boardgamegeek.com/filepage/64399/simple-clean-black-and-white-dominion-dividers") + ','
    and that’s what I’ve been using ever since I moved the cards out of their official boxes and into that shoebox way back in 2012 (Special thanks to Numbah67 for stepping up and filling in the gap left by Myke with the
    = link_to("Renaissance dividers he created", "https://boardgamegeek.com/filepage/185052/simple-clean-black-and-white-dominion-renaissance")
    n that same style)! That said, there were a few inconsistencies, typos, and other small mistakes that had always bugged me about those dividers. And of course, they would not fit in the new storage solution - the dividers were the right size for the BCW card boxes, but not for the narrower wooden card holders from Broken Token - these would need to be about 91% thinner, width wise. Therefore I would need to make all new dividers again from scratch. I was already re-sleeving everything and getting a new storage solution together - what was one more odd job on top of that?
  %p
    So, I set about making dividers in this style that would fit my Euro Sized storage solution. Since I was already needing to re-create the files to some extent in order to make them thinner, I decided now was a good opportunity to fix them up a bit. So, I fixed a number of mistakes I found along the way, and standardized a few things between expansions as well. I also created dividers for Church and Captain, the latest two promos which hadn’t had dividers created for them yet in the source files. Additionally, since the
    = link_to("Dominion 2019 Errata and Rules Tweaks", "https://boardgamegeek.com/thread/2281518/dominion-2019-errata-and-rules-tweaks")
    were rather significant in my eyes, I wanted to make sure every card with changes had their changes noted on the divider, along with the unofficial rulings for the new versions of these cards to replace the outdated rulings for the old versions of these cards - so I updated those too.
  %p
    Finally, I used colored card stock to print these dividers on to help some cards stick out more. I used colored cardstock (ASIN:
    = link_to("B01MRF0AX4", "https://www.amazon.com/Astrobrights-Colored-Cardstock-Assortment-99904/dp/B01MRF0AX4?tag=article-boardgamegeek-20") + ')'
    that matched the various card types, to make them easier to pick out when setting up or tearing down a game. The assortment of neon cardstock conveniently came with Green (for Victory cards/Landmarks), Yellow (for Treasure cards/Boons), Blue (for Reaction Cards), Orange (for Duration Cards/Projects), and Red/Magenta (for various “Bad” cards like Curses, Shelters, Ruins, and Hexes/States). Obviously some cards have more than one of these types, so I used the order from the previous sentence for what would take precedence over another, purely based on what type felt most significant to me (So Harem was on green paper with the other Victory Cards, Caravan Guard was on Blue paper with the other reactions, Crown was on Yellow paper with the other Treasure cards, etc). Everything else (including Reserve and Night cards) was on white paper.
  %p
    Because of this, I needed to re-arrange the dividers by card type in order to be able to print dividers of the same color on the same sheet of paper. This is why in the Euro Card Size divider file I created, the cards are arranged by card type, instead of by expansion, as they are in mykeatkinson's original file. I apologize if this is inconvenient for anyone looking to just print a specific expansion - but if you are printing everything, it should be at least as convenient!
    The end result of the new dividers can be seen in the picture below. Note that in order to make sure each divider was sturdy enough, they are all at least two sheets of cardstock thick - either because there are additional rules running down the backside, or because there is a blank piece cut to match the divider. This gives them a nice thickness for flipping through cards, and when the two pieces are sized appropriately and sleeved together top-down into a remaining card sleeve (see the card sleeve section for which sleeves I used), it's a nice effective way to get a sturdy and durable divider that will stand the test of time.
  %p
    You can find the filed for the euro card size dividers I used
    = link_to("here", "https://boardgamegeek.com/filepage/193186/euro-card-sized-simple-clean-black-and-white-domin") + '.'
  .container.post-image
    .row
      .col-12
      = image_tag(image_for(@post, 5), alt: "Dominion Storage Solution. Pictured box holds all cards up to Guilds.", title: 'Dominion Storage Solution. Pictured box holds all cards up to Guilds.')
  %p
    .container.text-center
      %h3 Tokens, Mats and Other Non-Card Items
  %p
    So that covers storing and organizing the bulk of Dominion - its cards. But many expansions contain metal or cardboard tokens and mats as well. Thankfully, all of them are sized appropriately to fit inside one of the two boxes in this storage solution. You can see all the mats (That’s the 18 Seaside mats, the 9 Prosperity mats, the 6 Adventures mats in each player color, and the 6 Renaissance mats in each player color. I did not find it necessary to also store the original Coffers mats from the 2nd edition of Guilds & Cornucopia) on the far right side of the second box (it also fits the trash mat from the 2nd Edition of the Base Game, or the thicker rubber version I made - see the extras section below):
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 6), alt: "Dominion Storage Solution. Pictured box holds all cards from Adventures through Renaissance, plus Promos. Also holds mats and tokens.", title: 'Dominion Storage Solution. Pictured box holds all cards from Adventures through Renaissance, plus Promos. Also holds mats and tokens.')
  %p
    Yes, this unfortunately means the Seaside, Prosperity, and Guilds expansions are stored across two boxes because their mats are not in the first box alongside the rest of their components. I deemed this a worthy sacrifice because of the amount of space saved when storing all of the mats together, and because the mats aren’t
    %i really
    necessary to play with those expansions, anyway. You can still take out just the first box and play with any of the kingdom cards without their mats and do just fine. Or, if you are at home and the second box is nearby, simply grab the mats out of the second box at the start of the night if you intend to play with those expansions. Easy peasy!
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 7), alt: "Dominion Adventures tokens stored in a 2\" diamater Paylak storage container tower.", title: "Dominion Adventures tokens stored in a 2\" diamater Paylak storage container tower.")
  %p
    The tokens themselves are stored in two “towers” of 6 circular, 2” diameter containers that screw together (ASIN:
    = link_to("B001AS6OLK", "https://www.amazon.com/gp/product/B001AS6OLK/ref=ppx_yo_dt_b_asin_title_o00_s00?tag=article-boardgamegeek-20") + ')'
    I liked that they came in packs of 6, because with two, that gives you room to store the 6 different player colors of Adventure tokens in one tower, and the remaining six token types (1 VP, 2 VP, 5 VP, Coin, Embargo, and Debt tokens) all in the other tower. Plus, they unscrew so you can just place the needed tokens out for any given kingdom, and the 2” diameter size allows you to fit the two towers on top of themselves in one row of the storage box, which is a very compact use of the available space. They even fit in next to the mats pretty well (see the above picture for storage positioning)! However, there IS one downside to this solution…
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 8), alt: "Dominion Adventures tokens stored in a 2\" diamater Paylak storage container tower, but the -1 Coin and -1 Card tokens don't fit!", title: "Dominion Adventures tokens stored in a 2\" diamater Paylak storage container tower, but the -1 Coin and -1 Card tokens don't fit!")
  %p
    The -1 Card and -1 Coin tokens don’t fit! They are too wide. Personally, I decided I am going to try to trim the sides of these reminder tokens so that they can live alongside the rest of the Adventure tokens in these containers - but I understand why that would be unappealing to some people. You can also store these tokens separately alongside the rest of the cardboard mats - there is certainly room. It is a bit less convenient to have to fish these out separately though, so I am willing to cut the tokens down a bit in order to get them to all fit into these towers.
  %p
    One other downside to this approach is that, again, the tokens necessary to play with the Seaside, Prosperity, and Guilds expansions are all in the second box… and these seem a bit more necessary to have in order to use the cards than the mats did. For this reason, and because there was juuuust enough extra space, I decided to include some coin and VP tokens, as well as the embargo tokens, in some tiny tupperware containers I found at the Dollar Tree in the first box. This splits up the tokens, of course. But after so many expansions, I have more than enough coin and VP tokens to spare some, and it makes all the cards in the first box usable without dipping into the second box again, so I think it’s worth it. You can see two of these little containers and a space where the third one will go at the very front of the first box:
  .container.post-image
    .row
      .col-12
      = image_tag(image_for(@post, 9), alt: "Dominion Storage Solution. Pictured box holds all cards up to Guilds.", title: 'Dominion Storage Solution. Pictured box holds all cards up to Guilds.')
  %p
    .container.text-center
      %h3 Bonuses and Extras
  %p
    Because this guide wasn’t already long enough, I will now briefly touch on a few other items and accessories we have that we have found helpful when playing Dominion. The first is the Trash Mat. The 2nd Edition of the Base Game comes with a thin cardboard version of this mat, but I wanted something a little sturdier for our use, so I scanned it in and had a mousepad printed at
    = link_to("Artscow", "http://www.artscow.com/photo-gifts/mousepad/large-mousepad-160")
    with the trash mat image on it. I then carefully cut the mousepad to remove the excess rubber matting once it arrived, and voila:
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 10), alt: "Custom Neoprene Dominion Trash mat (based on the one included in Dominion: 2nd Edition)", title: "Custom Dominion Trash mat (based on the one included in Dominion: 2nd Edition)")
  %p
    The other accessory we use nowadays is a simple one, but it does wonders for keeping the play space organized. It’s a
    = link_to("BCW Card Sorting Tray", "https://www.bcwsupplies.com/card-sorting-tray") + '.'
    For under twenty bucks, this big hunk of plastic does a fantastic job of organizing your average Dominion Kingdom in a way that makes all the cards readable/visible to the various players, without having to fork over a huge sum of money for a custom, wooden play organizer or other solution. It even has a small spot that perfectly fits the 0-2 Event/Landmark/Project cards that can come out each game! Here is an example of a Kingdom in action from our game the other night:
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 11), alt: "Dominion game set up to play using a BCW Card Sorting Tray as a play organizer.", title: 'Dominion game set up to play using a BCW Card Sorting Tray as a play organizer.')
  %p
    This solution is not perfect, of course; for crazier kingdoms you will still run out of slots and be forced to put things together or place them on the table (We regularly have to put the various Page and Peasant upgrades all together in one pile in the holder, for example). But for the vast majority of kingdoms you will encounter, this still does the job well, and it does it very cheaply. And you can use one of the built-in deeper wells as the trash to keep it completely out of the way, if you don’t want to bother with a trash mat (although I wouldn’t recommend this for kingdoms where interacting with what is in the trash matters - like anything where Lurker, Forager, etc are present).
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 12), alt: "Dominion Storage Solution. Holds everything up to Renaissance and Beyond! Pictured closed.", title: "Dominion Storage Solution. Holds everything up to Renaissance and Beyond! Pictured closed.")
  %p
    .container.text-center
      %h3 Conclusion
  %p
    In conclusion, I really,
    %i really
    like Dominion, and I have spent a lot of time and energy figuring out how best to store it and interact with it over the past eight years. I am by no means claiming that this way will work best for everyone, but with all the various things I’ve tried I have finally hit on a solution I am quite happy with. Now there won’t be an underlying sense of dreading how to store things the next time a Dominion expansion is announced - only the pure joy of seeing new cards for one of my very favorite games.
  %p
    I wanted to catalog my experiences here and share them so that any other players can learn from the things I’ve tried. I’ve done my best to leave links to any of the products I ended up purchasing, so that you can easily find them and try them yourself, if you are so inclined. If anyone has any questions on anything Dominion related, or anything I’ve written here, I will certainly do my best to answer if you ask them!
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 13), alt: "Dominion Storage Solution. Holds everything up to Renaissance and Beyond! Pictured closed.", title: "Dominion Storage Solution. Holds everything up to Renaissance and Beyond! Pictured closed.")
  %p
    I hope you got something useful out of this long read. May you never green too early and regret it!
