- unless intro
  .container.post-image
    .row
      .col-6
        = image_tag(image_for(@post, 1), alt: "A screenshot of the title screen for Forever December.", title: "Forever December")
      .col-6
        = image_tag(image_for(@post, 2), alt: "A screenshot of Forever December gameplay.", title: "Pretty snowy, huh?")

%p
  Whelp, it's finally here. I've probably put more work into this game than any other game I've ever made so far, and a lot of that was because of the great feedback I got from the early alpha testers the first time around (remember
  = link_to("what I said about feeding off of fans and positive encouragement?", "/posts/2011-05-30-the-cycle") + ')'
  I will certainly keep working on it, and there is a lot more I want to add, but I really really want to hear what you guys think of it first. Let me know if you have any ideas or find any bugs or anything! Please! Thank you!

- unless intro
  %p
    As for the name, I only had two votes but they were both for the same thing so far... so I guess for now it's
    %i Forever December,
    but that's still subject to change once more people play it and
    = link_to("give me their feedback", "http://tylorlilley.freeforums.org/forever-december-tylor-s-new-snow-game-t169.html")
    on the name as well. Hooray! Now download it
    = link_to("here", "http://tylorlilley.s3.amazonaws.com/games/tylorlilley_forever_december.zip")
    and play your brains out for a little while. It's summer? What else could you possibly have to do?
