.container.post-image
  .row
    .col-12
      = image_tag(image_for(@post), alt: "A stock picture of the Nintendo 3DS", title: "Originally, Nintendo DS stood for Dual Screen... so that makes this the Nintendo Three Dual Screen...?")
%p
  Ah! There are so many new games! Not the least of which is
  = link_to("my new game", "/posts/2011-06-10-a-new-game-is-here") + ','
  which if you haven't played by now, you really should! I really want to get some feedback on what people think of it before moving on, in case there are some good ideas I hadn't thought of yet. Please! Play it and come to the forums and talk about it! For my sake!
%p
  But today's post isn't about my new game, the
  = link_to("last", "/posts/2011-06-08-a-new-game-is-on-the-horizon")
  = link_to("two", "/posts/2011-06-10-a-new-game-is-here")
  posts have already been about that and I think I need to take a break. SO instead, I'm going to talk about all the
  %i other
  new games in my (and maybe your) life right now. That's right, this update is about the new 3DS games I've been enjoying, and what I think of them. If that doesn't intrest you than there's really no reason for you to keep reading. Instead, why don't you just click that link in the first paragraph and play
  %i my
  new game - that's certain to be of interest to you, no matter who you are.
%p
  So here we go, the games in my life recently:
%p
  %strong Mighty Flip Champs
  %br
  This one is the first on the list because its the most recent one in my mind. I bought it just last night, and I literally had to force myself to put it down to come and update my website. It's an adicting little puzzle-platformer available for download from the DSi and now the 3DS shop channel, and I highly recomend it. I just finished the second world, and I've been able to get an "S" rank on every level so far, something that was very challenging - but very fun - to do. It's only 7.99$ and I highly recomend it. At first I was regretting spending my money on it, but the more I played and the further into the game, the more fun it became. If fast-paced timed challenges and puzzle-platforming are for you, give this little software a whirl - you won't be disapointed.
%p
  %strong Shantae: Risky's Revenge
  %br
  Okay, this one deserves some backstory at first. A certain internet man named
  = link_to("brickroadbrickroad", "https://www.youtube.com/user/brickroadbrickroad")
  (Richard
  = link_to("Scibbe", "http://scibbe.com/")
  in real life) once put up a
  = link_to("YouTube", "https://www.youtube.com/watch?v=OE4vbosfq5k&list=PL41D0DFF62BCAFA50")
  series of him playing through a little know GameBoy color gem called Shantae. This is how I first found (and fell in love with) Brickroad's witty gaming comentary and philosophies. Mind you, I found him before he even had 100 subscribers, let alone the thousands he has now. So when a sequl to this little known game by this little known company (Wayforward Games) was announced for DSiWare almost a year ago, I squeled with joy. The only problem was I didn't have a DSi, and I couldn't play it because of that.
%p
  Cut ahead to the realse of the 3DS shop channel, after a year of Shantae being the best rated DS game of the year (DS game, not just software title!) and you can bet your money this was the first thing I downloaded to play. If it didn't have that history with me, I probably wouldn't have given it a shot, and at the risk of being baised I will venture to say that it is indeed a quality game. It's a platformer, and it's fairly long for a DSiWare title, but it certainly isn't for everyone. If you're even a little bit curious however, I strongly recomend you look into teh game more yourself, to decide if it would be something you like or not.
%p
  Oh, and just for your information, Mighty Flip Champs is also a Wayforward Games title - they're both by the same tiny independent gaming company, and they're both lovely. Just in case you were wondering.
%p
  %strong Super Mario Land
  %br
  This one's a classic. You can pick up this black and white GameBoy game on the 3DS virtual console for only 3.99$ and you should if you haven't already. It's twelve levels long and full of classic mario platforming. All twelve levels are unique, with their own kind of flavor to them, and its perfect to pick up and play really quick. And if you manage to beat the game, you can play through a new Hard mode where all the levels are chock full of extra enemies. Fun!
%p
  I've already beat this game three times, just because it's so fun to pick up and play whenever you've got twenty minutes to stomp some goombas. I've yet to beat the Hard mode, but hey, that just means it's living up to it's name. I stronly recomend this game, and it is
  %i Well
  worth the four bucks it would take to get this timeless piece of Nintendo history.
%p
  If for some reason you need even more proof, just see how much fun this
  = link_to("drunk adult Japanese male", "https://www.youtube.com/watch?v=MusQqQVvuFQ")
  is having playting it!
%p
  %strong Legend of Zelda: Ocarina of Time 3D
  %br
  This one's a classic. You can pick up this black and white GameBoy game on the 3DS virtual console for only 3.99$ and you should if you haven't already. It's twelve levels long and full of classic mario platforming. All twelve levels are unique, with their own kind of flavor to them, and its perfect to pick up and play really quick. And if you manage to beat the game, you can play through a new Hard mode where all the levels are chock full of extra enemies. Fun!
%p
  Yeah, okay, so this one isn't technicaly out yet, but its certainly been on my mind a lot lately. And I
  %i did
  download the free 3D trailer for it they have available. The one that is exactly the same as the
  = link_to("old comercial", "https://www.youtube.com/watch?v=_NElFLzgdUs")
  they ran for Ocarina of Time when it was brand new and coming out for the N64, but with the new gameplay spliced in. And in 3D of course. Only a few more days! I can't wait!
%p
  %strong Super Mario
  %br
  This is in the same vein, except it probably won't be released for many months still. I was kind adisapointed with this one's 3D trailer. I was hoping it would be more of an exploratory Mario game again, like back in the days of Super Mario 64 and Super Mario Sunshine. Unfortunately it looked more like a slightly more 3D version of New Super Mario Brothers, which will be interesting to play, but certinaly not what I'm looking for. I fear that these kind of open-world, exploratory Mario games are dead or dying. Nevertheless, I'm sure I'll enjoy Super Mario, despite it having the most generic Mario game title ever. But I really hope Nintendo makes a game in the old 3D Mario vein sometime soon again.
%p
  %strong Earthbound
  %br
  Okay, this one isn't even a 3DS game, nor can it be considered in anyway new, but I've been playing it a lot lately and I love it. Unfortunately it's almost impossible to find legally, since there haven't been any remakes despite overwhelming fan demand, and so your only legal choice is to buy the old Super Nintendo cart online, and these can only be bought for upwards of one hunderd dollars now. Still, its an amazingly unique and quirky game, and RPG set in a modern-day romanticization of America, and it has a really odd sense of humor that really appeals to me. I love it. And you would to, if you ever wanted to look into playing it.
%p
  And that's everything. Is it any wonder I've been so busy lately, playing all these wonderful games? In any case, if you were wondering about my opinion on any of the new(-ish) games of today, then this is a handy little cheat sheet to get you started.
