- intro = false if intro.nil?

%p
  All that stuff I said about updating more? It wasn't
  %i entirely
  false. It's just that my family and I have been on vacation. Well, wait, that's not exactly right... the rest of my family went to Florida while I stayed home and watched the house. But I went on vacation too, hence the lack of updates this past week. Where you might ask? Why, to the wonderful, wonderful world of Minecraft. (Normally I wouldn't say anything about this either, but since this is such a long update with so many pictures, you might wanna make sure you read all of the mouseover text to, to get the full effect. It's what a true fan would do!)

- unless intro
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 1), alt: "A screenshot of a waterfall in Minecraft.", title: "Breathtaking, isn't it?")
  %p
    I easily sunk a full twenty-four hours into this game over the past week. It's highly addicting. And so now I will chronicle for you just a bit of my wonderful travels during that time-span, so that you too may feel the joy that I've felt exploring this wonderful new world. For those of you who play Minecraft and are interested, the seed I used to create this world was VikingAdVenture. And oh my
    %i goodness
    was it a wonderful seed! I highly recommend it; I played around a bit with some others before I found this one, and this one was far better than them all. Also, I made it up myself, so there was a strange bit of satisfaction knowing that no one else had ever set eyes on the beautiful world I had created before me. It was very much unique. However, I feel like now is the time to share my adventures and my world with others, having explored it to my heart's content for weeks on my own. So, read on - but buckle your seat belt first, because it's a long one!
  %p What made this seed very interesting was that as soon as I spawned I saw a giant mountain in the distance. You should spawn on the beach, near some cacti. If you walk up a few small hills, straight forward, The Mounatin should appear in the distance. It was normal on one side, but the other side was almost a sheer verticle drop, as if The Mountain had been sliced open, with lots of rock and sand exposed. Not only that, but there was a huge chasm that went down for layers and layers, with a very complicated network of natural caves. The Cave Network is where I spent most of my time, only popping back to the surface to throw all the tons of cobblestone and coal I had mined into a chest in my tiny, tiny room, and craft some more pickaxes and torches before returning to its depths.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 2), alt: "A screenshot of a mountain in Minecraft.", title: "This thing was freaking HUGE.")
  %p Below is the small and humble little cave-room I hastily carved out of the side of The Mountain to store myself and my materials as I explored to the very depths of The Cave Network and gathered resources.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 3), alt: "A screenshot of a bed in a cave in Minecraft.", title: "My humble abode.")
  %p
    I'd say the first half of that twenty-four hours was spent just mining and fighting off all the monsters down there. It was a blast, and I built up quite a pile of resources in doing so. I eventually made it my goal to find enough diamonds to make a diamond pickaxe, and use that to obtain some obsidian from the
    %i above ground
    lava pool that was located just a short ways away from both The Mountain, my home, and The Cave Network. Seriously, this seed was amazing, and I felt so honored to have randomly stumbeld upon it.
  %p Unfortunately, I did not yet know that you could take screenshots in minecraft, so all of the above pictures came just before I left The Mountain and The Cave Network for good (more on that later). That's why I'm a little lacking on pictures of the early part of my adventure, but it was mostly just exploring the dark depths of The Cave Network and fighting the creatures within, anyway - and harvesting their precious, precious ores for my own good as I did so. I do have a few pictures of The Cave Network though, so I'll show you what I took below.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 4), alt: "A screenshot of a mine shaft in a cave in Minecraft.", title: "Dat iron.")
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 5), alt: "A screenshot of a lava in a mine shaft in a cave in Minecraft.", title: "Dat lava.")
  %p
    There were hallways in The Cave Network like these two that were just
    %i packed
    with various ores. Lots of iron and
    %i lots
    of coal. Lots and lots of coal.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 6), alt: "A screenshot of a water following into lava in a cave in Minecraft.", title: "I've seen fire and I've seen rain- oh wait. That's not rain, it's just water, Nevermind. And that's not fire either. Just lava... sorry guys. A little premature with that one.")
  %p There were a few different underground waterfalls and lakes and magma pools to be found in The Cave Network, but the one above particularly struck my fancy. Usually when water and lava meet, the water evaporates and the magma is cooled into obsidian, destroying both of the liquids in the process. But this magma spring and water pool were spawned in just the perfect way that they could exist side by side without being destroyed. And all of this was generated randomly. Simply amazing.
  %p Anyway, I eventually found two diamonds in my workings, and by the time I had all but the very bottom floor of The Cave Network lit up and mined out, I found two more. It was really wonderful timing; I felt like I had just finally vanquished all there was to vanquish in its dark depths, and the diamond prize was the perfect thing I needed to move onto the next phase of my adventure.
  %p
    I'm glossing over this part because of the lack of screenshots, but I don't want you to think it was easy. This was by far the hardest part of the game. There was many a frustrating death. Many a drop into lava that made me lose
    %i countless
    stacks of iron ore and coal. I remember one time specifically where I was so fed up with how easily I was being killed by the boatloads of monsters in a deeper part of The Cave Network I quit completely for the night. For some reason I hadn't thought to make myself any armor, and was trying to just run past them to a lighted area on the other side, which I failed to do for many attempts in a row. When I remembered that I could try using some of my iron to craft some nice looking iron armor, I returned to The Cave Network with a new approach. I armored up and geared up my bow and arrows, and went down there with the intent to kill every last one of them. Which is exactly what I did. And
    %i boy
    was it satisfying.
  %p So, yeah, don't think it was easy, but I finally got my diamonds and mined my obsidian and got ready to create my portal to the Nether. Here you can see what it looked like before ignition:
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 7), alt: "A screenshot of an inactive nether portal in Minecraft.", title: "Ignition in 3... 2... 1...")
  %p And after:
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 8), alt: "A screenshot of an active nether portal in Minecraft.", title: "WE HAVE LIFTOFF! Er... portal... off.")
  %p Fwoosh! The portal ignited in a blaze of purple glory. It was a wonderful sight after so much hardwork and hours of gameplay. I was about to take my first steps into The Nether.
  %p Just a quick aside for those who don't know what the Nether is: its basically Hell. You create a portal and you appear in a corresponding part of this alternate region called The Nether, which is basically built out of fire and brimstone itself (actually its built out of Netherrack, but more on that later too). The kicker is that every step you take in The Nether is equal to eight steps in the overworld, so it works as a really fast travel zone for finding new places and new environments to build in as well - if you bring enough Obsidian to make a Portal in the grid to warp you back home again, that is. Its an all underground place filled with lava and these monsterous, monsterous creatures called Ghasts. But I didn't know that when I first stepped out of that portal into Nethersville. I was greeted with a wonderfully fiery view.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 9), alt: "A screenshot of an active nether portal inside of the nether in Minecraft.", title: "The other side of the rabbit hole.")
  %p That stuff on the right is called Glowstone, and it's a block that emits an eerie light all on its own. That and the glow from the lava are the only thing that lights up the Nether; there is no sun. I began exploring the area with a naive curiosity, enjoying the strange sights. This is a portion of what I witnessed.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 10), alt: "A screenshot of the nether in Minecraft.", title: "Lavafalls need love too.")
  %p It was kind of beautiful in its own way, too. Pretty interesting to look at nonetheless. I began enjoying the sights and mining out some Netherrack and Glowstone from the nearby cluster before setting out on my adventure to find a new land. It was all fun and games, until-
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 11), alt: "A screenshot of a Ghast in the nether in Minecraft.", title: "GHAST! It's a gasp! ...strike that; reverse it.")
  %p
    Gah! These little buggers started springing up
    %i everywhere.
    The more I explored, the more abundant these giant, floating jellyfish-ghost love-children became. They fly, and they spit fireballs. And that would be bad enough on its own, except that all of the Nether is made out of Netherrack. Netherrack is a substance with unreal properties; namely, it burns forever. Once lit on fire, it will burn continuously. So the longer I spent in The Nether, the more the Ghasts spit fireballs at me, and the more they spit fireballs on me, the more the entire place became flat out
    %i covered
    in flames. The Nether was never again as peacful as when I first entered it.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 12), alt: "A screenshot of a lava waterfall in the nether in Minecraft.", title: "With only Ghasts and Zombie Pigmen to keep them company, lavafalls need even MORE love.")
  %p Needless to say, I took many trips into The Nether, but they became more and more futile each time. This was the second hardest part in the game. the area outside my little portal soon became a wall of flames, with Ghasts vomiting up their fireballs and screaming at me as soon as I stepped out of the home portal and into the Nether. I became fed up, and again became angered and frustrated. I again abandoned the game for awhile, until inspiration struck me once more.
  %p I decided to try one last thing. I loaded up my inventory with all the things I owned; everything I had ever created and mined, excepting the important things that could easily be found again, like the cobblestone and the wood. If I was going to do this, and it was going to work, I wasn't coming back again.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 13), alt: "A screenshot of a tunnel in a netherrock wall of the nether in Minecraft.", title: "The last look at The Nether.")
  %p As soon as I entered into The Nether I turned around and began digging like mad. I even used up some of the Diamond Pickaxe I worked so hard to create just to assure that I was digging as fast as I possibly could. I was able to successfully create a large tunnel, and lose the Ghasts completely. Unexpectedly, I burst out into a different cave, pictured above. I could see and hear the Ghasts approaching in the distance, and so in a now-or-never decision I decided to build my new portal right there, at the end of the tunnel. I barely had enough time to construct a new portal, and transport myself to my new world - but I did.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 14), alt: "A screenshot of two cliffs by the sea in Minecraft.", title: "A whole new world. A new fantastic point of view.")
  %p My portal actually let out on this tiny, tiny island not far off the shore from this fantastic view. Two cliffs, one with a sheer drop, and the other with an odd circular hole in it. Of course I did some more exploring first, but eventually I decided I needed to drop my stuff somewhere and build a house before night fell, and all my work was destroyed - and that cliff gave me the perfect idea of where and how to do it. After tunneling so long through the Netherrack as part of my earlier plan, my pockets were pretty heavy with the stuff, despite carying everything else I owned with me. I decided a large, burning tower on the edge of that cliff would be the perfect way to liven this beautiful place up.
  %p And liven it up I did. I think it looks rather nice, don't you? The forever-burning Netherrack tower also serves as a kind of lighthouse or beacon for me to look to when out exploring, to help me get my bearings. It looks especially nice at night, when it's the only light for miles.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 15), alt: "A screenshot of a burning fortress made of netherrock on the top of a cliff during mid-day in Minecraft.", title: "What's that red tower in the distance?")
    .row
      .col-12
        = image_tag(image_for(@post, 16), alt: "A screenshot of a burning fortress made of netherrock on the top of a cliff during sundown in Minecraft.", title: "Ah, it looks rather nice at sunset, doesn't it?")
    .row
      .col-12
        = image_tag(image_for(@post, 17), alt: " screenshot of a burning fortress made of netherrock on the top of a cliff during the night in Minecraft.", title: "Ooh, but it looks even better at night! A burning symbol of hope, forevermore.")
  %p
    If you look closely, you can actually see the portal I came through down and to the right of the cliff with Fire Tower on it. (And if you're
    %i really
    looking closely, you'll see that in the creation of Fire Tower I accidently burned down all the trees on that cliff. Whoopsie! Sorry Green movement!)
  %p Here's another view of the tower, after the insertion of a man made waterfall next to it. I think the waterfalls balance out the fire quite nicely. In any case, it makes getting from the top of the cliff to the bottom unharmed much faster, and is actually the same technique I used way back when I was still exploring The Cave Network in the old world. One bucket of water and you'll never die in that long fall again!
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 18), alt: "A screenshot of a burning fortress made of netherrock on the top of a cliff with a waterfall next to it in Minecraft.", title: "I've seen fire and I've seen rain! Oh, dang it. I saw the fire and got excited. Still not rain, just water.")
  %p And here's the view of the Fire Tower from just a bit down the hill.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 19), alt: "A screenshot of the entrance to a burning fortress made of netherrock in Minecraft.", title: "A nice, welcoming exterior")
  %p The insde of Fire Tower consists of two floors, the first of which is seen upon opening the front doors; it's my little work station as well as where I keep all my stuff.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 20), alt: "A screenshot of chests in a room of a fortress made of netherrock in Minecraft.", title: "A nice, bloody interior. And workstaion.")
  %p There are symmetrical stairs to the left and the right that lead up to a glass floor, where part of the wall is made out of glass for a nice view, and my bed is located.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 21), alt: "A screenshot of a bed next to a glass wall in a room of a fortress made of netherrock in Minecraft.", title: "Whp wouldn't want to sleep with that view? I mean, sure, the hellstone walls and ceiling might be a little unsettling, but come on...")
  %p Here's that same view, but from the other side of my bed.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 22), alt: "A screenshot of a room of a fortress made of netherrock as seen from a bed in Minecraft.", title: "I bet I could rent this place out. It would make a pretty nice vacation home.")
  %p And finally, here's a view of Circle Cliff from outside one of the upper windows.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 23), alt: "A screenshot of a cliff near the sea as seen through a window in Minecraft.", title: "Circle Cliff sounds like something from Dora the Explorer.")
  %p After that, exploration of my new world once again became the name of the game. Using Fire Tower as my central hub, I branched off in various directions to fully explore what this new world had to offer, since I could not easily make it back to The Mountain and The Cave Network, without first passing through the flame-filled Nether once again. I'll admit I have not yet tried, so it might indeed still be possible, but I'm not going to risk that unless I have to.
  %p So for now, I was just exploring this new world. This is the same time that Minecraft updated from Beta version 1.4 to version 1.5, and for those of you who don't know what that means, it means that weather was added to the game, and while out exploring I experienced my first minecraft rainstorm.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 24), alt: "A screenshot of a rainstorm at night in Minecraft.", title: "The rain in Maine(craft) stays gently on the plain.")
  %p It synched up quite nicely with the rainy weather we'd been having at Findlay around that time. Of course, with the forever-burning Fire Tower, it created the funny effect of the rain constantly hissing as it hit the roof and evaporated, rather than the usual, more pleasant sound of rain drumming on the roof that I was used to.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 25), alt: "A screenshot of a rainstorm during the day in Minecraft.", title: "I'VE SEEN FIRE AND I'VE SEEN RAIN. HELL. YES.")
  %p Perhaps it was this annoying hissing, or the unsettling nature of sleeping in a burning house hewn out of hellrock, but whatever the reason, after about an ingame week of exploration, I decided that I wanted to build a real house somewhere else in my minecraft world, and leave the Fire Tower up as a kind of fall-back base and beacon. It was a kind of symbol of all the trials I had gone through in the Nether; a giant, flaming middle-finger to all those Ghasts and their fiery vomit.
  %p So I set off in the direction I had decided was best suited for this kind of adventure during my exploration, and in my short journey saw many a wonderful sight. Like this rare pink sheep, for example. (most sheep are white or on some occasions black or gray. Pink is rare!)
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 26), alt: "A screenshot of a sheep with pink wool in Minecraft.", title: "He's... special.")
  %p Or this little patch of mushrooms, growing in the shade of a big oak tree.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 27), alt: "A screenshot of a mushrooms growing in the shade of an oak tree in Minecraft.", title: "Insert obligatory Mario joke here.")
  %p As per this wonderful seed and its diverse landscaping, I even came across this peculiar structure, with one grass block, floating all by its lonesome, way up there in the clouds. This is the sort of thing that makes a man stop and think. How did it get up there? What is it doing there? What purpose does it serve? I leave the answering to you, dear reader.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 28), alt: "A screenshot of a hill with a single dirt block floating in mid-air near it in Minecraft.", title: "The answers to these and every other question is, of course, Minecraft.")
  %p Yes, there were many sights to be seen, but eventually I had to pick a place and settle down. In the end, I chose a little hill with a much smaller overhang on a nice field of grass, not too far from the sand and the beach and all of the resources that go with it. What can I say? I like to build things on the edges of cliffs, I guess. This one was far less impressive though, compared to the giant cliffside that Fire Tower was erected on.
  %p
    The building process was actually kind of long and tedious, but I enjoyed watching the vision of my new home come alive right before my eyes. As such, between the monotonous cutting down of trees for yet
    %i more
    wood panneling and sticks, and returning to the beach
    %i again
    to scoop up even
    %i more
    sand to turn into glass, and the careful planning and constructing of my home, I did not take any screenshots of the building process. But those would have been boring to look at anyway, so let's pull a cooking show and cut to the premade, finished project - seen here in the distance over the nice, fruited (not actually fruited) plains.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 29), alt: "A screenshot of a wolf and sheep on an open plain in Minecraft.", title: "Aminecraftria, Aminecraftria, Notch shed his grace on thee~!")
  %p Also pictured above is my pet wolf that I found and tamed during one of my many exploration adventures. His name is Steak. He likes to kill cows.
  %p This next picture shows the house as you approach it from the side of its little hill. You can see the natural, gaping cavern hole in the side of it that I've often heard strange sounds coming from at night, but have yet had the time to fully explore. The house itself is part wood, part stone, and part glass. The right half is mostly stone, while the entry way in the front left corner and the floor is all wood. The final corner and most of the ceiling is made entirely out of glass. I think it all blends together rather nicely, in my humble opinion.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 30), alt: "A screenshot of a house made of wood and glass on the top of a hill in Minecraft.", title: "I spy some pumpkins and some sugar cane as well. If this isn't just the most diverse seed I've ever seen!")
  %p Opening the front door, you get a breathtaking view of the glass portion of the house, and the nice red-and-yellow rug I made in the middle of the hardwood floor. I like large portions of glass in my minecraft houses; I don't know why. Perhaps when I get older and purchase my own house, I'll have an entire wall in my study made out of glass. I wonder why no one in real life does that?
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 31), alt: "A screenshot of a rug in a room with walls made of glass in Minecraft.", title: "Because it would be a hell of a lot of work to keep clean, that's why.")
  %p If you walk inside and turn around, you are greeted with this view, facing the door that you just came in. It would be directly behind you in the above picture. You can see the workroom to the left, and the little ladder to the tiny upper cubby where my bed is located straight ahead. there's also a door immediately to the right of the entrance (that would be to the left from this angle) that leads down into the earth and out into a farm enclosed in glass at the bottom of the cliffside. Its all closed-in so it's still just as safe as the rest of my house at night, and provides easy travel from the ground below to inside the house up on the hill, since the way is paved with coblestone stairs as opposed to having to hop up the sides of the hill every time I wanted back in my house.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 32), alt: "A screenshot of the entryway to a room with a fireplace and workbenches in Minecraft.", title: "Is... is that what I think it is, on the wall in the workroom?")
  %p And here's the workroom. I was very proud of that fireplace; I think it looks rather nice. It's just a couple of blocks of Netherrack behind some glass, but it adds a lot to the atmosphere, in my opinion.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 33), alt: "A screenshot of a room with a fireplace and workbenches and a Donkey Kong painting in Minecraft.", title: "It is! It's a giant HD TV playing all my favorite retro classics! Hurrah!")
  %p My working setup is the same on the left as it is the right. Its got two chests, with a workbench and a furnace for smelting underneath. Such pretty working conditions! Its no wonder I spend so much time crafting things - like that classic Donkey Kong painting over there. I love that thing.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 34), alt: "A screenshot of a workbench flanked by two chests in Minecraft.", title: "I'm a sucker for 1 x 2 glass windows.")
  %p
    Up the ladder is my little sleeping nook, complete with a few bookcases, because who doesn't love to curl up in bed with a good book on a rainy day? Those bookcases take a
    %i ton
    of sugar cane to make though, because in minecraft you have to turn three sugar cane into three paper, and turn that three paper into one book, and then turn three books (and six wood panneling) into one bookcase. So it takes up a
    %i lot
    of sugar cane to make, but, hey - that's what the farm I mentioned earlier is for. It grows both sugar cane and wheat, so I'll be able to make cake one day. The only ingredient I still need is milk, but I'd have to find a cow that Steak doesn't want to turn into his new favorite chew toy to get that first.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 35), alt: "A screenshot of a nook with a bed and bookcases in Minecraft.", title: "That's not how cows and wolves work in Minecraft Tylor! They only attack things if you want them too! Stop making things up!")
  %p Speaking of curling up in bed with a good book; this is the view you get from the aforementioned bed. And now that weather is present in Minecraft, I'm sure the rain will be a sight to see, splattering on all that glass, unlike the annoying hissing I got from living in the Fire Tower.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 36), alt: "A screenshot of a rain as seen through a window from a bed in Minecraft.", title: "That's not how rain works in Minecraft Tylor! It's very unrealistic and won't look half as good as it would in real life!")
  %p
    And boy, is that view nice. It hasn't rained since the completion of my new home, but I did snap this picture of the sunset through the glass, and
    %i wow
    is it pretty.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 37), alt: "A screenshot of a sunset as seen through the glass walls of a room with a rug in Minecraft.", title: "That's not how the sun works in Minecraft Tylor! It... er... wait, nevermind, that is how the sun works in Minecraft...")
  %p And that's where my story ends for today. I still have just a little bit of work to do on my greenhouse-type farm, and then it's off to exploring new horizons again. But with school looming I fear my vacation to the world of Minecraft must soon come to an end, much as the rest of my family's did when they returned from Florida today. Was my vacation as cool as theirs? Or as expensive? Or as exotic? No, no it wasn't. But mine was far more adventurous, and I feel like another fantastic journey is awaiting me this summer, when I once again have the time to return to the wonderful depths of the world of Minecraft. I haven't even touched redstone engineering, or any of the wonderous devices and machines that can be constructed and operated with it, yet!
  %p So until next time, dear readers, I hope you enjoyed reading about my little adventure over Spring Break. I leave you now the way I greeted you, with just one of the many beautiful landscapes I have yet to explore - its beauty created not by a man, but by a machine; a computer and some randomly generated lines of code.
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post, 38), alt: "A screenshot of a stream in a fertile valley in Minecraft.", title: "...simply breathtaking")
  .container.text-large{style: "text-align:right"}
    %br
    %br
    %br
    %i
      %strong ~Tylor Lilley
