
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-01-27")

%p
  I 100% completed Rocket: Robot on Wheels for the N64! I remember playing around in this game as a kid but I never got very far in it. It's actually a really good 3D platformer and it holds up really well! 

- unless intro

  %P
    The final boss was a bit much, but at least it posed a challenge. That's more than I can say for a lot of platformers of this vintage! Highly recommend it if you're someone who is into that sort of thing.
  %P
    .container{class: ("hashtag")}
      ="#{line}"
      ="#{line}"
      ="#{line}"
      ="#{line}"