
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2021-12-09")

%p
  Finally beat Adventures of Lolo 3! If 2 was more of the same puzzles that made the first game great but with a new coat of paint, 3 was that extra flash taken to the next level! Boss fights and an overworld and over TWICE as many puzzles in total. There was even a new puzzle mechanic introduced at one point!

- unless intro

  %P
    It definitely took me a LOT longer to beat than the last two. It's funny to think about beating the first game in one sitting when this game took me months of off and on puzzle solving to beat. Even as a huge fan pf these games I think that was enough to keep me satisfied for a long time.... but I'll have to return for Adventures of Lolo on the Game Boy someday!
  %P
    .container{class: ("hashtag")}
      ="#{line}"
      ="#{line}"
      ="#{line}"
      ="#{line}"
      ="#{line}"