
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-09-12")

%p
  I finished Micky Mouse: Magic Wands for the Game Boy without losing a life!

- unless intro

  %P
    This was a pretty strange one. The gameplay was enjoyable, if not a little repetitive by the end. It reminded me of a much easier Solomon's Key. 
  %P
    That said, magic wands that provide an increasing number of ice related power ups does NOT make me think of Mickey Mouse at all. If you ignore the character portraits I would never have been able to tell this was a Disney game. Maybe that's a good thing?
  %P
    Despite being released in the US in 1998, the Japanese original was first released all the way back in 1993. I'm really not sure why there was such a huge gap - but it definitely plays much more like a 1993 Game Boy game than a 1998 one! The design was pretty primitive and the controls were fairly crude and loose in places. It did not feel enjoyable to handle,  and it would have been pure frustration if the game wasn't so generous with the hit points and health refills.
  %P
    As it is, it's an interesting enough puzzle platformer, but one with little to no challenge (and one that gets a tad repetitive by the end).
  %P
    .container{class: ("hashtag")}
      ="#{line}"
      ="#{line}"
      ="#{line}"
      ="#{line}"
      ="#{line}"