- unless intro
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post), alt: "A screenshot of the Dokmus randomizer android application running on a 7-inch tablet")

%p
  Hello everyone! I've created another setup randomizer for a board game. This time the board game is 
  =link_to("Dokmus", "https://boardgamegeek.com/boardgame/199793/dokmus") + ','
  and this time I have returned to the wild world of Android App development in order to release it! It functions much like my other randomizer apps for Android do, in that it randomizes the setup for the board game and has a few additional settings - like optional support for the Return of Erefel expansion - to go along with it.

- unless intro
  %p
    It's been awhile (about half of a decade, somehow) since I last worked with creating an Android application, and some things have definitely changed in that space in the mean time. My randomizer applications were always purposefully built to be pretty barebones, but between those changes and the improvement in my general skillset as a software developer in that time frame, I am seriously considering re-working a few of my older randomizer projects - like the 
    = link_to("KB Randomizer", "https://play.google.com/store/apps/details?id=com.tylorlilley.kbrandomizer2")
    or
    = link_to("Talisman Randomizer", "https://play.google.com/store/apps/details?id=com.tylorlilley.talismanrandomizer2")
    apps - to make them a bit more up to date. 
  %p
    In fact, dipping my toes back into this has me interested in taking one of my other randomizers - the 
    = link_to("Tiny Towns randomizer", "/randomizers/tiny_towns")
    rails webapp I created awhile back - and making an app version of that. 
    = link_to("the original plan", "/posts/2020-09-22-tiny-towns-randomizer-update.html")
    was to do it the other way around and make web apps out of my older android apps, but in pratice I have liked the android apps better than the web based randomizers because you don't need to be connected to the internet in order to load them - and sometimes, I am playing board games places where connecting to the web is not as easy as it sounds! I also have had ideas for how to implement a Wiz War randomizer, but we'll see if I have the time to even do any of this at all.
  %p
    .container.text-center
      Check out the
      = link_to("Dokmus Randomizer", "https://play.google.com/store/apps/details?id=com.tylorlilley.dokmusrandomizer")
      app if that's something that sounds useful to you!
