
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-06-10")

%p
  I unlocked all the characters in Dr. Mario 64! Since I just completed Wario Land 3 again, it seemed like the perfect time to check out this weird spin-off game that features a bunch of Wario Land 3 characters, all of which were never seen again outside of this one game (and Wario Land 3, where they came from).

- unless intro

  %P
    What caused Nintendo to build their Nintendo 64 entry in the Dr. Mario series around this one somewhat obscure Gameboy Color game is beyond me. The character line-up looks like something from an alternate universe where Rudy the Clown and Spearhead were somehow classic Nintendo characters instead of Bowser and Koopa Troopa...
  %P
    As for the game itself, I enjoyed it way more than I expected to going in. It's basically just Dr. Mario, which I have played before and which never grabbed me very much - most falling block puzzlers haven't. In fact, my only fuzzy memory of this game before playing it this time was of renting it from Blockbuster one weekend at around 7 years old, because it was a brand new "Mario" game I had never seen before. I was VERY unimpressed when I got home and it featured a bunch of characters I had never heard of before and gameplay where a bunch of colored dots moved around the screen!
  %P
    That said, the gameplay really hooked me this time. I don't know what it is that ha changed, but I'm enjoying puzzle games like this more as I get older. I played way more of this than I expected to!
  %P
    This version of Dr. Mario is also unique in that it is the only one to feature a story mode. I ended up completing the story mode on hard mode (for both possible story paths - Wario's Story and Dr. Mario's Story). The hardest part was completing the two story modes on Normal without losing a single time... That's nine levels of increasingly difficult Dr. Mario levels you have to win in a row! But I did it. And my reward for this achievement? Unlocking two of the most fake sounding characters to ever be playable in a Mario game - Metal Dr. Mario and Vampire Wario.
  %P
    All in all this was a great experience. Maybe I'll get to try the multiplayer modes someday - I've heard good things about them!
  %P
    .container{class: ("hashtag")}
      ="#{line}"
      ="#{line}"
      ="#{line}"
      ="#{line}"
      ="#{line}"