
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2021-10-16")

%p
  Completed Adventures of Lolo 2! 

- unless intro

  %P
    Despite my love of the first game I had never played much of the sequel. Aside from a few neat graphical improvements, it's very much just more puzzles for the original without much in the way of new mechanics. Highly recommend it if you enjoyed the first one!
  %P
    .container{class: ("hashtag")}
      ="#{line}"
      ="#{line}"
      ="#{line}"
      ="#{line}"
      ="#{line}"