
- unless intro
  .container.post-image
    .row
    .col-12
      = image_tag(image_for(@post), alt: "An image originally posted to Instagram on 2022-02-24")

%p
  I completed Mario Tennis for GBC! I never played this game as a kid, despite loving the companion N64 version. I thought the single player story mode in the GBC version was a really interesting thing to attempt! It was fairly easy all things considered, but still a fun thing to go back to.

- unless intro

  %P
    Mario Tennis for N64 is one of the first games I have memories of playing as a kid. I was six years old when this game came out! I definitely remember playing it with my Dad, even if he liked the Mario Golf game better.
  %P
    I'll have to go back to the N64 game next now that I have a completed GBC file and get to finally make use of that silly N64 Transfer Pak to connect the two games and REALLY get 100% completion for the both of them!
  %P
    .container{class: ("hashtag")}
      ="#{line}"
      ="#{line}"
      ="#{line}"
      ="#{line}"
      ="#{line}"
      ="#{line}"
      ="#{line}"