%p Hello again everyone. This time I am bringing you something old, rather than something new. It's 2020, and it is currently month six of a global pandemic that has more or less caused me to spend all that time locked up indoors. That's a lot of time to oneself, and it's only natural I would start reflecting on the years that brought us here at some point. In fact, I ended up digging through some old files and stumbled across a lot of things I thought were lost forever - including a ton of old posts and updates to this very website.

- unless intro
  %p
    I went ahead and took the time to add all of them to this current version of the site, so that they will remain here for posterity. I even added some "Next" and "Previous" buttons that will automatically show up on all of the old posts, so you can easily navigate between them chronologically! In celebration of all this old junk being dusted off and fed into the new version of the site, I thought it would be fun to take a little trip down memory lane. So if you'll indulge me, I am going to present a bit of a written history of the site (with more than a little help from the wonderful Internet Archive's
    = link_to("Wayback Machine", "https://web.archive.org/") + ','
    without whom several of these old posts would still remain lost). Strap in!
  %p I've had this website since I first created it as part of a fifth grade school project. For those counting, that was in 2005, fifteen years ago. In that time, it has passed through many different forms, from its earliest version with its white dice background that was made to host my custom sprite sheets and animations, through to the version you see today. Unfortunately, this earliest version of the site never made its way to the Internet Archive, although I still have a somewhat functioning copy of it locally.
  %p
    Fortunately, the
    = link_to("awkward growing pains circa 2007", "https://web.archive.org/web/20071015071915/https://tylorlilley.com/")
    where I redesigned it with a bunch of iframes for some reason,
    %i did
    Make it to the archive, although there isn't a lot there. In addition to a fansite dedicated to the original Final Fantasy for the NES (and its remake on the GBA), I used it to host a
    = link_to("sprite-based webcomic", "/posts/2007-03-09-no-title")
    (that sadly never got past
    = link_to("8 pages", "https://tylorlilley.s3.amazonaws.com/files/Generic-Ninja.zip") + '),'
    before deciding to scrap it and start again with a Twilight Zone theme. I don't know why I chose a Twilight Zone theme, or why having the pages linked together by clicking on pictures of doors floating in a white void seemed like a good idea - I was thirteen.
  %p
    = link_to("That version of the site from 2008", "https://web.archive.org/web/20080828160024/https://tylorlilley.com/")
    is where the "Tylor Zone" name came from, so at least I owe it that. That name stuck with the site for far longer than the actual door-based twilight zone theme did, juuuust long enough to become a host for a series of little game maker games I called
    = link_to("Pocket Games", "https://tylorlilley.s3.amazonaws.com/games/tylorlilley_pocket_games.zip")
    (and also a lovingly crafted
    = link_to("quote quiz", "https://tylorlilley.s3.amazonaws.com/games/tylorlilley_scrubs_quote_quiz.zip")
    for quotes from the show Scrubs).
    These were the result of when I tasked myself with trying to make and release a new, playable game every week as part of my attempt to learn Game Maker better. I was still using the drag and drop functionality at this point (I wouldn't start trying to teach myself GML until
    = link_to("several years later", "/posts/2010-04-30-purple-ninja-mini-episode-the-all-knowing-eye") + '),'
    but I like to think that I still learned a lot about how to "program" a game from that series of experiments. That makes it the first version of my website to actually host some of the games I'd been making in my free time since the sixth grade - so that's neat. But the next version is where things
    %i really
    got interesting. Still no posts to speak of from any of these versions, though.
  %p
    When I was fifteen, I decided to really lean into learning HTML and CSS and build myself the website I always wanted from the ground up.
    = link_to("It was very blue", "https://web.archive.org/web/20110130023419/https://tylorlilley.com/home.html")+ '.'
    This is the first real stab I took at having a legitimate website that I could show off to people, and as part of that, I kept a history of every time this version of the site was ever updated. This was a very smart decision, and one I would eventually go back on during a later revision of the site, unfortunately. Almost all of the earlier posts I added to the current version of the site in this update were from this 2010 version, starting with
    = link_to("this one", "/posts/2010-04-10-the-tylor-s-first-words") + '.'
    This was the version of the site that eventually got linked to a forum where I encouraged my friends to hang out and post things. The free forum that was hosted by some other service is long gone, but it was also the version of the site that was active when I decided to try my hand and
    = link_to("updating the website thrice weekly", "/posts/2011-05-30-the-cycle")
    over the course of one summer - every Monday, Wednesday, and Friday. That, uh,
    = link_to("did not last very long", "/posts/2011-06-20-just-a-quick-update")
    \- but it's fun to look back on all the posts in between now, almost a decade later.
  %p
    The
    = link_to("penultimate version of the site", "https://web.archive.org/web/20131227120116/https://tylorlilley.com/")
    (at least, the last version before the version that is live as I am writing this in 2020) replaced that one in 2012, in the later half of my senior year of high school, when I was seventeen. Since I was applying for college, I tried to make it a little more professional looking, since I was planning on majoring in Computer Science at this point, and thus would be listing it on college applications and resumes as an example of my work. I also felt that I had learned a lot about building a website since I first created the other version in 2010, and I had a few tricks up my sleeve thanks to some rudimentary javascript. Mostly, it was just a way to make a picture and a quote that appeared on every page randomly selected from a list of possibilities whenever any of the pages were loaded (unfortunately, this does not work in the version captured by the internet archive). This version replaced the blue with a heavy grey color scheme - I don't think there was any significance to that, but maybe I thought it made it look more professional. It's also at this point that I finally dropped the "Tylor Zone" branding, probably for the same reasons.
  %p
    That version of the site stood for the longest time, with only minor tweaks (like some in 2016 to make the site more mobile friendly, after I graduated from college and was again putting the site down on resumes). The posts after
    = link_to("this one", "/posts/2012-01-24-the-change-that-s-coming")
    are all from that version. Unfortunately, unlike the previous version of the website, I decided there was no need to record every update into a history page or anything like that, and instead just replaced the text on the main page every time I updated it. This means that most of the updates from this version are completely lost to time now. That's probably the only way in which sixteen-year-old Tylor was more forward thinking than twenty-five-year-old Tylor.
  %p
    That version lasted from 2012 through most of 2019, although it sat un-updated for a good three year stretch of that time, with
    = link_to("the same update from 2016", "https://web.archive.org/web/20190528190707/https://tylorlilley.com/")
    still plastered on the front page of the site. I had just gotten my first job as a software developer around that time, and was kept plenty busy during most of my day with that, so it didn't really leave me with a lot of energy to dedicate to other software development projects (you'll notice in the
    =link_to("game section", "/games")
    that new games from that time period are equally few and far between). It stayed that way until 2019 when I finally
    =link_to("updated it", "https://web.archive.org/web/20190628154547/https://tylorlilley.com//")
    while, again, putting it on a job application - and I added a checkered background, for some reason. Looks like that short-lived change carried over into
    =link_to("this version", "https://web.archive.org/web/20200806194817/https://tylorlilley.com/") + '!'
    It was a little less than a year ago today that I finally completely replace it with
    =link_to("this current version of the site", "/posts/2019-10-21-new-website")
    that utilizes ruby on rails. It's still got a lot of the grey, but I brought a bit of the blue back - I think it balances it out nicely.
  %p Where will it go from here? Who knows. I certainly plan to keep this version of the website around for the foreseeable future - I put a decent amount of work into the framework of it so that it would be easy to update and add more posts and more games to it. Heck, after looking through all these old posts from a decade ago, I might even decide to try my hand at posting more regularly again here - wouldn't that be something? Until then, I'm certainly not planning on going anywhere anytime soon. It's been a fun fifteen years - here's hoping I will still be posting updates and uploading games for you all (but mostly just for myself to look back on) for fifteen more.
