%p
  Hey everyone! I recently received my 
  = link_to("Playdate", "https://play.date/")
  and after a few years of waiting and I decided to start learning how to program games for the little device! Don't worry if you don't have one yourself, though, because you can still play my game using the free 
  = link_to("Playdate Simulator", "https://help.play.date/manual/simulator/")
  application that Panic has made publicly available in order to play it on your computer. It loses a bit of the charm over actually playing it on a physical device (especially because the original games are already availble to play in their original Flash forms on the computer), but the option is still available to you if you want it!

- unless intro
  .container.post-image
    .row
      .col-12
        = image_tag(image_for(@post), alt: "A screenshot of the title screen of the playdate port of Thy Dungeonman", size: '800x480')
  %p
    Since I've never programmed in Lua before, or for a physical device like the Playdate, I decided the best way to get my feet wet would be to start by porting an existing, simple game over to the Playdate. I chose 
    = link_to("Thy Dungeonman", "/games/thy-dungeonman")
    (and its sequel, Thy Dungeonman 2) to port over. These are some oldschool text adventure games that were originally flash games created by Jonathan Howe along with Mike and Matt Chapman for the 
    = link_to("Homestar Runner", "https://homestarrunner.com/")
    website.
  %p
    I loved Homestar Runner as a kid and even after growing up I find their particular brand of humor to have stood the test of time. I had recently played these games again and thought they'd be a perfect fit to try and port to the little playdate device (maybe the black and white screen reminded me of Strong Bad's old computer). In addition to lovingly and faithfully porting over the original two games, there is also a small handful of new features that were (optionally) added to make playing these games on the Playdate more comfortable. You can read more about them on the game's page, but I am pretty happy with the result and I learned quite about about Lua and the Playdate SDK along the way!
  %p
    I don't know if I will end up porting the third (and final) Thy Dungeonman game as well or not. That one has non-text graphics that seem like they might be right at home on the Playdate's 1-bit screen, but it would certainly be a more ambitious project! I have also considered making my own text adventure game now that I have an engine for that working on the Playdate, but we'll see if I end up doing that or just moving directly on to a grander project.
  %p 
    What could be next, you say? Well, it would be natural to leverage this text engine to do something like port over my old Ruby implementation of the
    = link_to("Island of D", "/posts/2016-10-06-game-section-updated")
    text adventure game. But I am also itching to try something that's a little more my own - perhaps a sequal to
    = link_to("Mighty Dive Bomber", "/games/mighty-dive-bomber")
    or even a portable version of
    = link_to("EIH", "/games/eih") + '?'
    Only time will tell! But if anyone has any interest in seeing one of these things come to light over any of the others, feel free to let me know. 
  %p
    Until next time!
