- caption ||= ""
- classes ||= ""
- inverse ||= false

.d-block.d-xl-none
  .rounded.thumbnail{class: "mx-auto", width: "#{screenshot_width_for(@game) * (inverse ? 1 : size)}px", height: "#{screenshot_height_for(@game) * (inverse ? 1 : size)}px",
                             style: "max-width: #{screenshot_width_for(@game) * (inverse ? 1 : size)}px"}

    = image_tag(image_path(screenshot_filename_for(@game, num)), alt: formated_name_for(@game), class: "img-thumbnail", width: "100%", height: "100%")
    - unless caption.blank?
      .caption= caption
  %br
.d-none.d-xl-inline
  .rounded.thumbnail{class: "float-left #{classes}", width: "#{screenshot_width_for(@game)*size}px", height: "#{screenshot_height_for(@game)*size}px",
                             style: "max-width: #{screenshot_width_for(@game)*size}px"}
    = image_tag(image_path(screenshot_filename_for(@game, num)), alt: formated_name_for(@game), class: "img-thumbnail")
    - unless caption.blank?
      .caption= caption
