- randomizable ||= false
- hidden ||= false
- number ||= 0
%li.list-group-item{class: "#{color} #{'unrevealed' if hidden}"}
  .text
    #{@randomizer.nil? ? "ERROR" : @randomizer["buildings"][color].first }
  - if randomizable
    = link_to "/randomizers/tiny_towns/randomize_building?color=#{color}", color: color do
      .icon.icon-right{ alt: "Randomize #{color} Building" }
        = svg 'loop-circular'
