- if YAML.load(@randomizer["players"]["#{player}"]["active"])
  .card.text-center{id: "player-#{player}"}
    .card-header
      Player #{player}
      %a{ href: '#'}
        = link_to "/randomizers/tiny_towns/toggle_player?player=#{player}" do
          .icon.icon-left{ alt: "Reveal Player #{player}" }
            = svg 'eye'
        = link_to "/randomizers/tiny_towns/randomize_player?player=#{player}" do
          .icon.icon-right{ alt: "Randomize Player #{player}" }
            = svg 'loop-circular'
    %ul.list-group
      = render partial: "randomizers/tiny_towns/building", locals: {color: "purple", number: (2*(player-1)), hidden: YAML.load(@randomizer["players"]["#{player}"]["hidden"])}
      = render partial: "randomizers/tiny_towns/building", locals: {color: "purple", number: (2*(player-1))+1, hidden: YAML.load(@randomizer["players"]["#{player}"]["hidden"])}
