.container
  .row
    .col-12
      %h1 Tiny Towns Randomizer
      %br
  .row
    .col-12
      .card.text-center
        = link_to "/randomizers/tiny_towns/randomize_all", style: 'border-bottom: 0px !important;' do
          .btn.btn-block.btn-light.btn-main Randomize Everything!
    .col-12.col-md-6
      .card.text-center
        .card-header
          Number of Players
          .icon.icon-left{ alt: "Reveal all Players",
                            data: { behavior: "reveal-all-players" } }
            = svg 'eye'
          = link_to "/randomizers/tiny_towns/randomize_all_players?number_of_players=#{"4"}" do
            .icon.icon-right{ alt: "Randomize all Players" }
              = svg 'loop-circular'
        .btn-group.btn-group-toggle.d-flex.btn-group-justified{ "data-toggle": "buttons", id: "player-count", role: "group"}
          %label.btn.btn-light
            %input{ type: "radio", name: "total-players", id: "total-players-1",
                    autocomplete: "off", value: 1, checked: @number_of_players == 1 ? true : nil} 1
          %label.btn.btn-light
            %input{ type: "radio", name: "total-players", id: "total-players-2",
                    autocomplete: "off", value: 2, checked: @number_of_players == 2 ? true : nil} 2
          %label.btn.btn-light
            %input{ type: "radio", name: "total-players", id: "total-players-3",
                    autocomplete: "off", value: 3, checked: @number_of_players == 3 ? true : nil} 3
          %label.btn.btn-light
            %input{ type: "radio", name: "total-players", id: "total-players-4",
                    autocomplete: "off", value: 4, checked: @number_of_players == 4 ? true : nil} 4
          %label.btn.btn-light
            %input{ type: "radio", name: "total-players", id: "total-players-5",
                    autocomplete: "off", value: 5, checked: @number_of_players == 5 ? true : nil} 5
          %label.btn.btn-light
            %input{ type: "radio", name: "total-players", id: "total-players-6",
                    autocomplete: "off", value: 6, checked: @number_of_players == 6 ? true : nil} 6
      = render partial: "randomizers/tiny_towns/player", locals: {player: 1}
      = render partial: "randomizers/tiny_towns/player", locals: {player: 2}
      = render partial: "randomizers/tiny_towns/player", locals: {player: 3}
      = render partial: "randomizers/tiny_towns/player", locals: {player: 4}
      = render partial: "randomizers/tiny_towns/player", locals: {player: 5}
      = render partial: "randomizers/tiny_towns/player", locals: {player: 6}
    .col-12.col-md-6
      .card.text-center
        .card-header
          Selected Buildings
          = link_to "/randomizers/tiny_towns/randomize_all_buildings" do
            .icon.icon-right{ alt: "Randomize all Buildings" }
              = svg 'loop-circular'
        %ul.list-group
          = render partial: "randomizers/tiny_towns/building", locals: {color: "blue", randomizer: @randomizer }
          = render partial: "randomizers/tiny_towns/building", locals: {color: "red", randomizable: true}
          = render partial: "randomizers/tiny_towns/building", locals: {color: "yellow", randomizable: true}
          = render partial: "randomizers/tiny_towns/building", locals: {color: "orange", randomizable: true}
          = render partial: "randomizers/tiny_towns/building", locals: {color: "green", randomizable: true}
          = render partial: "randomizers/tiny_towns/building", locals: {color: "gray", randomizable: true}
          = render partial: "randomizers/tiny_towns/building", locals: {color: "black", randomizable: true}
