<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Tylor Lilley .com", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-link"><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Posts",   posts_path %></li>
        <li><%= link_to "Games",   games_path %></li>
        <li><%= link_to "Follow",  follow_path %></li>
      </ul>
    </nav>
  </div>
</header>
