.row
  .col
    %section.post.title
      %h1= @post.title
      %h2.style{style: "margin-top:-6px"}
        = "#{formated_date_for(@post)}"
    %section.post.content
      = render partial: "posts/content/#{@post.slug}"
      %br
    %section.post.rider
      %h2= sanitize "View other updates #{link_to "here", posts_path }."
