.row
  .col
    %section.post.title
      %h1= @post.title
      %h2.style{style: "margin-top:-6px"}
        = "#{formated_date_for(@post)}"
    %section.post.content
      = render partial: "posts/content/#{@post.slug}", locals: {intro: false}
      %br
    %section.post.rider
      %br
      .container
        .row
          - if archived
            .col.text-left
              - if @post.previous
                = link_to("<-- Previous Post", @post.previous)
          .col
            %h2
              View other updates
              = link_to("here", posts_path) + "."
          - if archived
            .col.text-right
              - if @post.next
                = link_to("Next Post -->", @post.next)
