!!!
%html
  %head
    %title= full_title(yield(:title))
    = render 'layouts/rails_default'
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    .container-fluid
      .row
        .col-12.offset-0.col-lg-10.offset-lg-1
          .jumbotron.custom
            .container
              = yield
    = render 'layouts/footer'
